.calculator{
    max-width: 400px;
    margin: 50px auto-;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.display {
    width: 94%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;

}

button{
    padding: 20px;
    font-size: 24px;
    border:none;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
}


